.cart-table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

td:first-child, th:first-child {
  text-align: left;
}

th, td {
  text-align: center;
  vertical-align: center;
}

th {
  height: 20px;
}

tr:nth-child(2) td {
  padding-top: 8px;
}

td {
  height: 35px;
}

.remove {
  width: 18px;
  cursor: pointer;
}

.quantity {
  display: inline-block;
  min-width: 20px;
  text-align: center;
}


