@import "src/assets/constants";

header {
  height: 60px;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

nav {
  display: inline-block;
}

li, .cart {
  cursor: pointer;
}
